@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Expenses" asp-asp-controller="Home" class = "btn btn-primary"> OverView</a>
    <a asp-action="CreateEditExpense" asp-asp-controller="Home" class = "btn btn-secondary"> Add or Edit</a>
</div>
